html, body {
  font-family: 'JohnHancokCPMedium';
  height: 100%; }

div[role="main"] h1 {
  font-family: 'JohnHancokCPMedium';
  font-size: 4em;
  height: 0.8em; }

body {
  text-align: center;
  padding: 0;
  margin: 0; }

div[role="spacer"] {
  margin-bottom: -10em;
  width: 0px;
  height: 57%;
  float: left; }

div[role="main"] {
  position: relative;
  text-align: left;
  height: 15em;
  width: 40em;
  margin: 0 auto;
  clear: left; }

div[role="footer"] {
  font-family: "AmbleRegular"; }

.icon a, .icon a:link, .icon a:visited {
  color: black !important;
  text-decoration: none; }
.icon a:hover {
  color: #696969 !important; }

a, a:link, a:visited {
  color: blue !important; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.ng-scope {
  height: 100%;
  width: 100%;
  text-align: center; }

/* custom imported css */
ol, ul {
  margin: 0;
  list-style-type: none; }

#bio {
  float: left;
  width: 650px; }

#bio .networks {
  margin-top: 15px; }

#bio .networks .icon {
  margin-left: 6px; }

#bio .networks .icon.first {
  margin-left: 0; }

#bio .networks .icon .callout {
  left: 45px;
  top: -18px;
  width: 185px;
  padding: 12px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  text-transform: none; }

#bio .networks .icon .callout .triangle {
  left: -30px;
  top: 11px;
  border-width: 15px; }

.networks {
  float: left;
  margin-top: 6px; }

.networks .icon {
  position: relative;
  float: left;
  margin-left: 3px; }

.networks .icon.first {
  margin-left: 0; }

.networks .icon .callout {
  position: absolute;
  right: -136px;
  top: -3px;
  width: 110px;
  padding: 7px;
  -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#c4c3c3');
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#c4c3c3');
  background-color: #fdf1a0;
  color: #464646;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase; }

.networks .icon .callout a {
  cursor: pointer;
  color: inherit; }

.networks .icon .callout a:hover {
  color: #5b5b5b; }

.networks .icon .callout strong {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px; }

.networks .icon .callout .triangle {
  position: absolute;
  left: -18px;
  top: 2px;
  height: 0;
  width: 0;
  border-color: transparent #fdf1a0 transparent transparent;
  border-style: solid;
  border-width: 10px; }

@font-face {
  font-family: 'JohnHancokCPMedium';
  src: url("../fonts/johnhancockcp-webfont.eot");
  src: url("../fonts/johnhancockcp-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/johnhancockcp-webfont.woff") format("woff"), url("../fonts/johnhancockcp-webfont.ttf") format("truetype"), url("../fonts/johnhancockcp-webfont.svg#JohnHancokCPMedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AmbleLight';
  src: url("../fonts/Amble-Light-webfont.eot");
  src: url("../fonts/Amble-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Amble-Light-webfont.woff") format("woff"), url("../fonts/Amble-Light-webfont.ttf") format("truetype"), url("../fonts/Amble-Light-webfont.svg#AmbleLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AmbleRegular';
  src: url("../fonts/Amble-Regular-webfont.eot");
  src: url("../fonts/Amble-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Amble-Regular-webfont.woff") format("woff"), url("../fonts/Amble-Regular-webfont.ttf") format("truetype"), url("../fonts/Amble-Regular-webfont.svg#AmbleRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #0000ee; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #0066ee; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

html {
  background: #FFF;
  height: 100%; }

body {
  background: #FFF;
  width: 600px;
  margin: 0 auto;
  height: 100%; }

body > div#root {
  height: auto;
  min-height: 100%; }

div#root {
  height: 100%; }

header {
  background: #FFF;
  display: block;
  height: 100px; }

footer {
  background: #FFF;
  display: block;
  height: 100px;
  margin-top: -100px; }

section {
  background: #FFF;
  display: block;
  padding-bottom: 100px; }

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
