<div role="spacer"></div>
<div role="main">
    <h1>Ryan R. Williams</h1>
    <div id="bio">
        ColdFusion/Mobile/Ruby/iOS/Lua Developer, HTML Guru, Gamer, WoW Addon Author, jQuery Expert, Mentalist, Psych. Student, Philanthropist, Part-Time Chef
        <ul class="networks normal-networks clearfix">
            <li class="icon first">
                <a class="fa fa-twitter-square fa-2x" target=_blank rel="me" href="http://twitter.com/ryanrwms" title="Twitter"></a>
            </li>
            <li class="icon">
                <a class="fa fa-facebook-square fa-2x" target=_blank rel="me" href="http://facebook.com/ryanrwms" title="Facebook"></a>
            </li>
            <li class="icon">
                <a class="fa fa-google-plus-square fa-2x" target=_blank rel="me" href="http://plus.google.com/115959406451309957913" title="Google+"></a>
            </li>
            <li class="icon">
                <a class="fa fa-linkedin-square fa-2x" target=_blank rel="me" href="http://linkedin.com/in/ryanrwilliams" title="LinkedIn"></a>
            </li>
            <li class="icon">
                <a class="fa fa-foursquare fa-2x" target=_blank rel="me" href="http://foursquare.com/user/1229997" title="Foursquare"></a>
            </li>
            <li class="icon">
                <a class="fa fa-instagram fa-2x" target=_blank rel="me" href="http://instagram.com/ryanrwms" title="Instagram"></a>
            </li>
            <li class="icon">
                <a class="fa fa-tumblr-square fa-2x" target=_blank rel="me" href="http://ryanrwilliams.tumblr.com/" title="Tumblr"></a>
            </li>
            <li class="icon">
                <a class="fa fa-github-square fa-2x" target=_blank rel="me" href="https://github.com/decipherable" title="Github: Decipherable"></a>
            </li>
            <li class="icon">
                <a class="fa fa-github-square fa-2x" target=_blank rel="me" href="https://github.com/ryanrwms" title="Github: Ryanrwms"></a>
            </li>
            <li class="icon">
                <a class="fa fa-pinterest-square fa-2x" target=_blank rel="me" href="http://pinterest.com/decipherable" title="Pinterest"></a>
            </li>
            <li class="icon">
                <a class="fa fa-youtube-square fa-2x" target=_blank rel="me" href="#" title="Youtube"></a>
            </li>
            <li class="icon">
                <a class="fa fa-flickr fa-2x" target=_blank rel="me" href="http://www.flickr.com/photos/75407799@N04" title="Flickr"></a>
            </li>
            <li class="icon">
                <a class="fa fa-bitbucket-square fa-2x" target=_blank rel="me" href="https://bitbucket.org/decipherable" title="Bitbucket"></a>
            </li>
            <li class="icon">
                <a class="fa fa-stack-exchange fa-2x" target=_blank rel="me" href="http://klout.com/#/ryanrwms" title="Stack Exchange"></a>
            </li>
            <li class="icon">
                <span class="fa-stack">
                    <a target=_blank rel="me" href="http://curse.com/users/decipherable" title="Curse">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-cogs fa-stack-1x"></i>
                    </a>
                </span>
            </li>
        </ul>

    </div>
    <div role="footer"><a class="" target="_self" rel="me" href="/resume" title="Résumé">Résumé</a> | Blogs: <a class="" target="_self" rel="me" href="/blog" title="Blog">Personal</a> : <a class="" target="_blank" rel="me" href="http://rationalshift.com/" title="Blog">Psychology</a> : <a class="" target="_blank" rel="me" href="http://mujaahideen.com/" title="Religion">Religion</a> : <a class="" target="_blank" rel="me" href="http://decipherable.me/" title="Programming">Programming</a> | <a class="" target="_self" rel="me" href="/contact" title="Contact">Contact</a></div>
</div>